<html lang="en">
<%- include('./partials/head') %>

  <body>

    <%- include('./partials/nav') %>

      <div class="about content">
        <h2>About us</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolorem doloremque tempora nesciunt
          odit aperiam illum deserunt placeat, nisi explicabo reiciendis tempore fugit, impedit ea ab! Ipsa illo commodi
          ab.</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor hic officiis rerum distinctio deserunt
          deleniti illo itaque aut tempore totam, fugiat dolorum delectus, rem dolore harum nisi praesentium, incidunt
          quaerat?</p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae unde a, sint architecto delectus nesciunt
          repudiandae vel voluptatum ex, facilis rerum eaque adipisci nam perspiciatis quis voluptas cumque? Iste, a!
        </p>
      </div>
      <%-  include('./partials/footer') %>
  </body>
</html>